# Project exclude paths
/target/
/logs/
/idea/
ApplicationContext3.xml.tld
ApplicationContext2.xml.tld
ApplicationContext1.xml.tld
MyApplication.properties
/aop/
/springIntroduction/
/example/
.gitignore